/*
0-600px : Phone 
600-900px : Tablet Portrait
900-1200px : Tablet Landscape
(would write max-width queries for  the frist three)
[1200 - 1800] :   Desktop First: where normal styles apply
(Min-width for the last)
1800px ++: Big Desktop
*/
/* animation keyframes to call on the element */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateX(0px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*Basic body reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
  background-color: #222629;
  box-sizing: border-box; }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 2.5rem; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #a6aeb1;
  border: 6px solid transparent;
  background-clip: content-box; }

::-webkit-scrollbar-thumb:hover {
  background-color: #00488b; }

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 2; }

body {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #a6aeb1;
  padding: 3rem; }

#about-section {
  margin-top: 16rem; }

.heading-primary {
  color: #a6aeb1;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 100 !important;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem; } }

.heading-tertiary {
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background: -webkit-linear-gradient(100deg, #a6aeb1, #00488b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid #a6aeb1;
  display: inline-block;
  width: auto;
  text-align: center;
  margin: auto;
  padding: 0 20px 5px; }
  @media (max-width: 75em) {
    .heading-tertiary {
      margin-left: 5rem; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.5rem; } }

.heading-tertiary-accounts {
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.658);
  display: inline-block;
  width: auto;
  text-align: center;
  margin: auto;
  padding: 0 20px 5px; }

.heading-tertiary-contact {
  font-size: 2.75rem;
  font-weight: 400;
  color: #a6aeb1;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.658);
  display: inline-block;
  width: auto;
  text-align: center;
  margin: auto;
  padding: 0 20px 5px; }

.paragraph,
#about {
  font-size: 2.75rem;
  margin-left: 2rem; }
  @media (max-width: 75em) {
    .paragraph,
    #about {
      margin-left: 5rem; } }
  .paragraph:not(:last-child),
  #about:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph__skills,
#skills {
  font-size: 2.75rem;
  margin-left: -2rem; }
  @media (max-width: 75em) {
    .paragraph__skills,
    #skills {
      margin-left: 5rem; } }
  .paragraph__skills:not(:last-child),
  #skills:not(:last-child) {
    margin-bottom: 3rem; }

@media (max-width: 75em) {
  .my_projects {
    margin-left: -3rem !important; } }

@media (max-width: 37.5em) {
  .my_projects {
    margin-left: 1rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 1s;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.2rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.212); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.2);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1 rgba(0, 0, 0, 0.212); }

.btn--white {
  background-color: transparent;
  color: #00488b;
  color: #a6aeb1; }
  .btn--white::after {
    border: 0.2rem solid #a6aeb1;
    background-color: #a6aeb1;
    background-color: transparent; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 2s ease-out 0.1s;
  animation-fill-mode: backwards; }

.btn-icons {
  transition: all 350ms !important; }
  .btn-icons:link, .btn-icons:visited {
    display: inline-block;
    transition: all 0.5s;
    position: relative;
    font-size: 3.5rem; }
  .btn-icons:hover {
    transform: translateY(-0.3rem); }
    .btn-icons:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn-icons:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1 rgba(0, 0, 0, 0.212); }
  .btn-icons::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.8s; }

.btn-images:link, .btn-images:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.8s;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  border: 0.2rem solid #a6aeb1; }
  @media (max-width: 37.5em) {
    .btn-images:link, .btn-images:visited {
      padding: 1rem 1rem !important; } }

.btn-images:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.212);
  color: #00488b;
  background-color: #a6aeb1;
  border: 0.3rem solid #00488b;
  background-image: linear-gradient(to right top, rgba(166, 174, 177, 0.8), rgba(66, 66, 66, 0.8)), url(../../images/wall.png); }
  .btn-images:hover::after {
    opacity: 0; }

.btn-images:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1 rgba(0, 0, 0, 0.212); }

.btn-images--white {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 72, 139, 0.8)), url(../../images/wall.png);
  color: #a6aeb1; }
  .btn-images--white::after {
    background-color: #00488b; }

.btn-images::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-images--animated {
  animation: moveInBottom 2s ease-out 0.1s;
  animation-fill-mode: backwards; }

.btn-projects {
  float: left;
  margin: 2rem 0 0 14rem;
  text-align: center; }
  @media (max-width: 75em) {
    .btn-projects {
      float: left;
      margin: 2rem 0 0 11rem; } }

#mjo_btn {
  text-align: center; }

.project__grid {
  display: grid;
  grid-template-columns: repeat(2, 50rem);
  grid-template-rows: repeat(3, 70rem);
  grid-column-gap: 10rem;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center; }
  @media (max-width: 75em) {
    .project__grid {
      display: flex;
      flex-direction: column; } }

#projects {
  margin-bottom: 0rem;
  font-size: 4rem; }

.project__grid-1 {
  grid-area: 1 / 1 / 2 / 2; }

.project__grid-2 {
  grid-area: 1 / 2 / 2 / 3; }

.project__grid-3 {
  grid-area: 2 / 1 / 3 / 2; }

.project__grid-4 {
  grid-area: 2 / 2 / 3 / 3; }

.project__grid-5 {
  grid-area: 3 / 1 / 4 / 2; }

.project__grid-6 {
  grid-area: 3 / 2 / 4 / 3; }

.project__grid--hide {
  display: none; }

.project__grid--hide:hover {
  display: block; }

.project__photo {
  width: 100%;
  min-height: 400px;
  z-index: 1;
  grid-area: 1 / 1 / 2 / 3;
  transition: 0.5s; }
  @media (max-width: 75em) {
    .project__photo {
      margin-top: 10rem;
      width: 90%; } }
  .project__photo:hover {
    outline: 1rem solid #00488b;
    padding: 1rem;
    transform: scale(1, 1) translateY(-0.5rem);
    z-index: 20; }
  .project__photo:hover .project__photo__photo:not(:hover) {
    transform: scale(0.95); }

.code_icon {
  float: inline-end;
  font-size: 5rem;
  color: #00488b;
  transition: 0.25s;
  margin: 2.25rem 7%; }
  .code_icon:hover {
    cursor: pointer;
    color: rgba(166, 174, 177, 0.5);
    transform: scale(1, 1) translateY(-0.5rem);
    z-index: 20; }
  .code_icon:active {
    transform: scale(1, 1) translateY(0.5rem); }

.img-overlay {
  position: relative;
  width: 100%; }

.img-overlay-image {
  display: block;
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100; }

.img-overlay:hover .overlay {
  opacity: 1; }

.text {
  color: white;
  line-height: normal !important;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  text-align: center; }
  .text__sub {
    color: white;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%); }
  .text__tech {
    color: white;
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.headshot {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 72, 139, 0.8)), url(../../images/wall.png);
  -webkit-clip-path: polygon(0 0, 90% 0, 90% 90%, 0 90%);
  background-size: cover;
  background-position: top;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 5rem 10rem;
  margin: 3rem 0; }
  @media only screen and (max-width: 1200px) {
    .headshot {
      align-self: center;
      padding: 5% 10% 5% 7%;
      -webkit-clip-path: polygon(0 0, 90% 0, 90% 90%, 0 90%); } }
  @media (max-width: 37.5em) {
    .headshot {
      margin-left: 4rem;
      padding: 4rem 8rem 2rem 4rem;
      -webkit-clip-path: polygon(0 0, 90% 0, 90% 90%, 0 90%); } }
  .headshot__shape {
    width: 32rem;
    height: 50rem;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%); }
  .headshot__image {
    height: 90%; }
    @media (max-width: 75em) {
      .headshot__image {
        height: 85%; } }
    @media (max-width: 37.5em) {
      .headshot__image {
        width: 100%; } }

.contact {
  display: grid;
  grid-template-columns: 1 1fr;
  grid-template-rows: 1 40rem;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 72, 139, 0.8)), url(../../images/wall.png);
  -webkit-clip-path: polygon(0 10%, 100% 20%, 100% 90%, 0 82%);
  background-size: cover;
  background-position: top;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 21rem 10rem; }
  .contact__inputs {
    position: relative;
    margin: 4.5rem 0; }
  .contact__heading {
    margin-top: 7rem;
    font-size: 2.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #c6c6c6;
    text-align: center;
    letter-spacing: 0.7rem;
    font-size: 3rem !important; }

textarea {
  resize: none;
  font-family: "Mukta", sans-serif;
  font-size: 2.75rem; }

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 1.8rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 35rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a6aeb1; }
  input:focus,
  textarea:focus {
    outline: none; }
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -14px;
    font-size: 1.5rem;
    color: #a6aeb1; }
  input:focus ~ .bar:before,
  textarea:focus ~ .bar:before {
    width: 35rem; }

label {
  color: #c6c6c6;
  font-size: 1.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem; }

.bar {
  position: relative;
  display: block;
  width: 35rem; }
  .bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.658);
    transition: 300ms ease all;
    left: 0%; }

#input {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  background: transparent;
  color: #a6aeb1;
  border: 0.2rem solid #a6aeb1; }

.toggle {
  position: absolute;
  left: 90%;
  top: 8%;
  width: 6rem;
  height: 6rem;
  background: url("./../../images/menu.png");
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  cursor: pointer; }
  @media (max-width: 75em) {
    .toggle {
      left: 85%;
      top: 4%; } }
  @media (max-width: 37.5em) {
    .toggle {
      left: 80%;
      top: 5.5%; } }
  .toggle.active {
    background: url("./../../images/close.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center;
    cursor: pointer; }

.nav {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.658);
  transition: 0.5s;
  z-index: 2; }
  @media (max-width: 75em) {
    .nav {
      margin-left: 6rem; } }
  .nav.active {
    right: 30rem; }
    @media (max-width: 75em) {
      .nav.active {
        right: 11rem; } }
    @media (max-width: 37.5em) {
      .nav.active {
        right: 15rem; } }

.active {
  right: 30rem; }

.nav__items {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 37.5em) {
    .nav__items {
      right: -7rem; } }
  .nav__items ul {
    position: relative; }
  .nav__items ul li {
    list-style: none;
    margin-bottom: 2rem; }
  .nav__items ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
    color: #a6aeb1;
    transition: 0.5s;
    transition: all 250ms !important;
    display: inline-block;
    letter-spacing: 2px; }
  .nav__items ul li a:hover {
    color: #00488b;
    transform: translateX(5px) !important;
    cursor: pointer; }

.resume {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center; }
  @media (max-width: 75em) {
    .resume {
      display: flex;
      flex-direction: column;
      gap: 10rem 0rem; } }
  .resume__logo {
    height: 20rem; }
    @media (max-width: 75em) {
      .resume__logo {
        margin-left: 0;
        height: 18rem; } }
  .resume__image {
    height: 30rem;
    border-radius: 2px;
    transition: all 0.5s;
    outline-offset: 2rem; }
    @media (max-width: 37.5em) {
      .resume__image {
        margin-left: 0rem;
        height: 25rem; } }
    .resume__image:hover {
      transform: scale(1.1, 1.1) translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(166, 174, 177, 0.5);
      z-index: 20; }
  @media (max-width: 75em) {
    .resume__btn {
      margin-left: 2rem; } }
  @media (max-width: 37.5em) {
    .resume__btn {
      margin-left: 0rem; } }
  .resume:hover .resume__image:not(:hover) {
    transform: scale(0.95); }

.resume__row--one {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto; }

.resume__row--two {
  grid-area: 1 / 2 / 2 / 3;
  margin: auto; }

.resume__row--three {
  grid-area: 1 / 3 / 2 / 4;
  margin: auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.headshot__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  @media (max-width: 75em) {
    .headshot__grid {
      display: flex;
      flex-direction: column; } }
  .headshot__grid-image {
    grid-area: 1 / 1 / 2 / 2; }
  .headshot__grid-skills {
    grid-area: 2 / 1 / 3 / 2; }
  .headshot__grid-about {
    grid-area: 1 / 2 / 3 / 3; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 72, 139, 0.8)), url(../../images/wall.png);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(16% 0, 100% 0, 100% 17%, 100% 63%, 100% 100%, 50% 84%, 0 100%, 0 0); }
  @media (max-width: 75em) {
    .header {
      height: 90vh;
      width: 90%; } }
  @media (max-width: 37.5em) {
    .header {
      margin-left: 0rem;
      height: 100vh;
      width: 100%; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media (max-width: 75em) {
      .header__logo-box {
        top: 3.5rem;
        left: 5rem; } }
  .header__logo {
    height: 14rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  padding: 20rem 20rem 2rem 20rem;
  font-size: 1.4rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 72, 139, 0.8)), url(../../images/wall.png);
  clip-path: polygon(0 28%, 100% 51%, 100% 100%, 0% 100%);
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(3, 5rem);
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  color: #a6aeb1;
  grid-row-gap: 3rem; }
  .footer__icons {
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    grid-area: 2 / 1 / 3 / 4;
    color: #a6aeb1; }
    .footer__icons--copy {
      transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      grid-area: 3 / 2 / 4 / 3;
      margin-left: 1rem; }

.accounts {
  grid-area: 1 / 2 / 2 / 3;
  color: #a6aeb1;
  margin: 0 auto; }

#github {
  color: #a6aeb1;
  margin-right: 25rem; }
  @media (max-width: 37.5em) {
    #github {
      margin-right: 1rem; } }

#facebook {
  color: #a6aeb1;
  margin-left: -14rem; }
  @media (max-width: 37.5em) {
    #facebook {
      margin-left: 11rem; } }

#linkedin {
  color: #a6aeb1;
  margin-left: 12rem; }
  @media (max-width: 37.5em) {
    #linkedin {
      margin-right: 1rem; } }
