$color-black-main: #222629;
$color-grey: rgb(166, 174, 177);
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-black-light: rgba(0, 0, 0, 0.658);
$color-dark-blue: rgb(0, 72, 139);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font Size
$default-font-size: 2.5rem;

//Contact -- Inputs
$bg-color: #424242;

$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 35rem;
