//ABSTRACTS
@import "abstracts/variables";
@import "abstracts/mixins";

//BASE
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

//COMPONENTS
@import "components/buttons";
@import "components/composition";
@import "components/headshot";
@import "components/contact";
@import "components/navigation";
@import "components/resume";
@import "components/skills";

//LAYOUT
@import "layout/grid";
@import "layout/header";
@import "layout/footer";

//PAGES
@import "pages/intro";
