.footer {
  padding: 20rem 20rem 2rem 20rem;
  font-size: 1.4rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-dark-blue, 0.8)
    ),
    url(../../images/wall.png);
  clip-path: polygon(0 28%, 100% 51%, 100% 100%, 0% 100%);
  background-size: cover;
  background-position: bottom;
  //gride
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(3, 5rem);
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  color: $color-grey;
  grid-row-gap: 3rem;

  &__icons {
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    grid-area: 2 / 1 / 3 / 4;
    color: $color-grey;

    &--copy {
      transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      grid-area: 3 / 2 / 4 / 3;
      margin-left: 1rem;
    }
  }
}

.accounts {
  grid-area: 1 / 2 / 2 / 3;
  color: $color-grey;
  margin-left: 2rem;
}

#github {
  color: $color-grey;
  margin-right: 25rem;
  @include respond(phone) {
    margin-right: 1rem; //1rem = 8px, 8/16= 50%
  }
}
#facebook {
  color: $color-grey;
  margin-left: -14rem;
  @include respond(phone) {
    margin-left: 11rem; //1rem = 8px, 8/16= 50%
  }
}
#linkedin {
  color: $color-grey;
  margin-left: 12rem;
  @include respond(phone) {
    margin-right: 1rem; //1rem = 8px, 8/16= 50%
  }
}
