.project__grid {
  // margin: 0rem 0 12rem 0;

  display: grid;
  grid-template-columns: repeat(2, 50rem);
  grid-template-rows: repeat(3, 70rem);
  grid-column-gap: 10rem;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
  }
}
#projects {
  // margin-left: 9rem;
  margin-bottom: 0rem;
  font-size: 4rem;
}
.project {
  &__grid-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  &__grid-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  &__grid-3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  &__grid-4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  &__grid-5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  &__grid-6 {
    grid-area: 3 / 2 / 4 / 3;
  }

  &__photo {
    width: 100%;
    z-index: 1;
    grid-area: 1 / 1 / 2 / 3;
    transition: 0.5s;
    @include respond(tab-land) {
      margin-top: 10rem;
      width: 90%;
    }

    &:hover {
      outline: 1rem solid $color-dark-blue;
      padding: 1rem;
      transform: scale(1, 1) translateY(-0.5rem);
      // box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
}

.code_icon {
  float: inline-end;
  font-size: 5rem;
  color: $color-dark-blue;
  transition: 0.25s;
  margin: 2.25rem 0 0rem 6rem;

  &:hover {
    cursor: pointer;
    color: rgba($color-grey, 0.5);
    transform: scale(1, 1) translateY(-0.5rem);
    z-index: 20;
  }
  &:active {
    transform: scale(1, 1) translateY(0.5rem);
  }
}
