.composition {
  position: relative;
  &__photo {
    width: 70%;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.5s;
    outline-offset: 2rem;
    @include respond(phone) {
      width: 100%;
    }

    &--p1 {
      left: -8rem;
      top: -4rem;
      width: 60%;
      @include respond(tab-land) {
        left: 0rem;
        top: -5rem;
      }
      @include respond(phone) {
        left: 0rem;
        top: -4rem;
      }
    }
    &--p2 {
      right: -10rem;
      top: 20rem;
      width: 65%;
      @include respond(tab-land) {
        right: 7rem;
        top: 40rem;
      }

      @include respond(phone) {
        right: 0rem;
        top: 25rem;
      }
    }
    &--p3 {
      left: -2rem;
      top: 50rem;
      @include respond(tab-land) {
        left: 0rem;
        top: 80rem;
      }
      @include respond(phone) {
        left: 0rem;
        top: 62rem;
      }
    }

    &--p4 {
      right: -6rem;
      top: 78rem;
      @include respond(tab-land) {
        right: 8rem;
        top: 115rem;
      }
      @include respond(phone) {
        right: 0rem;
        top: 90rem;
      }
    }
    &--p5 {
      width: 50%;
      top: 112rem;
      right: 40%;
      @include respond(tab-land) {
        top: 147rem;
        right: 13rem;
      }
      @include respond(phone) {
        top: 118rem;
        right: 0%;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-grey;
      transform: scale(1.1, 1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
