.contact {
  display: grid;
  grid-template-columns: 1 1fr;
  grid-template-rows: 1 40rem;
  justify-content: center;
  text-align: center;
  margin: 2rem;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-dark-blue, 0.8)
    ),
    url(../../images/wall.png);
  -webkit-clip-path: polygon(0 18%, 88% 23%, 100% 85%, 11% 82%);
  background-size: cover;

  background-position: top;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  padding: 21rem 10rem;

  &__inputs {
    position: relative;
    margin: 4.5rem 0;
  }

  &__heading {
    margin-top: 7rem;
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $muted-color;
    text-align: center;
    letter-spacing: 0.7rem;
  }
}

textarea {
  resize: none;
  font-family: "Mukta", sans-serif;
  font-size: $default-font-size;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 1.8rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color-grey;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 1.5rem;
    color: $color-grey;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

label {
  color: $muted-color;
  font-size: 1.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $color-black-light;
    transition: $trans-time ease all;
    left: 0%;
  }
}
