.headshot {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-dark-blue, 0.8)
    ),
    url(../../images/wall.png);
  // -webkit-clip-path: polygon(0 20%, 88% 23%, 100% 85%, 0% 90%);
  -webkit-clip-path: polygon(0 0, 90% 0, 90% 90%, 0 90%);
  background-size: cover;
  background-position: top;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  padding: 5rem 10rem;
  // padding-left: 9rem;
  margin: 3rem 0;
  @media only screen and (max-width: 1200px) {
    align-self: center;
    padding: 5% 10% 5% 7%;
    -webkit-clip-path: polygon(0 0, 90% 0, 90% 90%, 0 90%);
  }

  @include respond(phone) {
    margin-left: 4rem;
    padding: 4rem 8rem 2rem 4rem;
    -webkit-clip-path: polygon(0 0, 90% 0, 90% 90%, 0 90%);
  }

  &__shape {
    width: 32rem;
    height: 50rem;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  &__image {
    height: 90%;

    @include respond(tab-land) {
      height: 85%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
}
