.headshot {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-dark-blue, 0.8)
    ),
    url(../../images/wall.png);
  clip-path: polygon(0 18%, 88% 23%, 100% 85%, 11% 82%);
  background-size: cover;
  background-position: top;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  padding: 19rem;
  // padding-left: 9rem;
  margin: 0;
}
