//Showcase and toggle
.toggle {
  position: absolute;
  left: 90%;
  top: 8%;
  width: 6rem;
  height: 6rem;

  background: url("./../../images/menu.png");
  //   background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  cursor: pointer;
  @include respond(tab-land) {
    left: 85%;
    top: 4%;
  }
  @include respond(phone) {
    left: 80%;
    top: 5.5%;
  }
  &.active {
    background: url("./../../images/close.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center;
    cursor: pointer;
  }
}

.nav {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-black-light;
  transition: 0.5s;
  z-index: 2;
  @include respond(tab-land) {
    margin-left: 6rem;
  }

  &.active {
    right: 30rem;
    @include respond(tab-land) {
      right: 11rem;
    }
    @include respond(phone) {
      right: 15rem;
    }
  }
}

.active {
  right: 30rem;
}
//menu Hidden
.nav__items {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    right: -7rem;
  }

  ul {
    position: relative;
  }
  ul li {
    list-style: none;
    margin-bottom: 2rem;
  }
  ul li a {
    text-decoration: none;
    font-size: 2.4rem;
    color: $color-grey;
    transition: 0.5s;
    transition: all 250ms !important;
    display: inline-block;
    letter-spacing: 1px;
  }
  ul li a:hover {
    color: $color-dark-blue;
    transform: translateX(5px) !important;
    cursor: pointer;
  }
}
